body {
    background-color: #3D97DF !important;
    color: #fff !important;
    font-family: 'Oswald', sans-serif !important;
}

.jumbotron {
    background-color: #7DCBBA;
}

a {
    color: #7DCBBA !important; 
}

a.btn {
    color: #fff !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #7DCBBA;
}
