body {
    background-color: #3D97DF;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.jumbotron {
    background-color: #7DCBBA;
}

a {
    color: #7DCBBA; 
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #7DCBBA;
}
