{% extends 'template.html' %}

{% block title %}Intro{% endblock %}
{% block content %}


<div class="jumbotron">
	<h1>How do you mean?</h1>
	<p>Meaning illustrates how people's definitions of words or phrases can vary. There are some words we all use and think we mean the same thing — but do we?</p>
	<br>
	<h4>Press the survey button to begin the exercise.</h4>

		<a href="/survey" class="btn btn-success" >Survey</a>
		<a href="/results" class="btn btn-primary">Results</a>
		<a href="/sessions" class="btn btn-warning">Sessions</a>
	</p>
</div>
{% endblock %}
