{% extends 'template.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/slider.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/bootstrap-slider.js') }}"></script>
<script src="{{ url_for('static', filename='js/survey.js') }}"></script> 
{% endblock %}
{% block title %}Survey{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		
		<ol class="breadcrumb">
			<li><a href="/">Intro</a>
			<li class="active">Survey</li>
		</ol>
		
		For each of the words or phrases below, what is the 
		percentage of time that each one conveys?  Assign each word 
		or phrase a number from 0 to 100 based on your definition.
		<hr />
	
		{% if success %}
		<div class="alert alert-success">
			<strong>Success!</strong> Survey submitted 
			<a href="/results" class="alert-link">View Results</a>
		</div>
		{% endif %}
	
		{% if form %}
		{% if form.errors %}
			<div class="alert alert-danger">
				{% for error in form.errors  %}
					{% for type in form.errors[error] %}
					{{ type }} <br />
					{% endfor  %}
				{% endfor  %}
			</div>
		{% endif  %} <br />

		<form class="form-horizontal" role="form" method="POST" action="/complete">
			{{ form.csrf_token }}
			{% for field in form %}
			{% if field.name != "csrf_token" %}
			<div class="form-group">
				<label for="{{ field.name }}" class="col-sm-2">{{ field.label.text }}</label>
				<div class="col-sm-4 inp-container">
					{{ field(class="form-control sliders", value=50) }}
				</div>
				<div class="col-sm-5 slider-value"></div>
			</div>
			{% endif %}
			<br />
			{% endfor %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success">Submit</button>
				</div>
			</div>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
