{% extends 'template.html' %}

{% block css %}
	{% if not success %}
	<link href="{{ url_for('static', filename='css/jquery.mobile.structure-1.4.2.min.css') }}" type="text/css" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/jquery.mobile.theme-1.4.2.min.css') }}" type="text/css" rel="stylesheet">
	{% endif %}
{% endblock %}

{% block js %}
	{% if not success %}
	<script>
	$(document).bind("mobileinit", function() {
		$.mobile.ajaxEnabled = false;
	});
	</script>
	<script src="{{ url_for('static', filename='js/jquery.mobile-1.4.2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/survey.js') }}"></script> 
	{% endif %}
{% endblock %}
{% block title %}Survey{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		
		<ol class="breadcrumb">
			<li><a href="/">Intro</a>
			<li class="active">Survey</li>
		</ol>
		
		For each of the words or phrases below, what is the 
		percentage of time that each one conveys? For example, how often is "often"? If an event happens "sometimes," what percentage of time is that? 
		<br>
		<h4>Assign each word 
		or phrase a number from 0 to 100 based on your definition.</h4>
		<hr />
	
		{% if success %}
		<div class="alert alert-success">
			<strong>Success!</strong> Your responses have been submitted. 
			<a href="/results" class="alert-link">Wait for the rest of your group to submit, then click here to view and discuss the results.</a>
		</div>
		{% else %}
		<form class="form-horizontal" id="survey" role="form" method="POST" action="/complete">
			{{ form.csrf_token }}
			{% for field in form %}
				{% if field.name != "csrf_token" %}
				<div class="form-group field-contain {% if field.errors %}has-error{% endif %}">
					<label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label.text }}</label>
					<div class="col-sm-10 inp-container">
						{{ field(class="form-control sliders", **{"type": "range", "min":"0", "max":"100", "step":"1"}) }}
						{% if field.errors %}
						<span class="help-block">{% for error in field.errors %}{{ error }}.  {% endfor %}</span>
						{% endif %}
					</div>
				</div>
				{% endif %}
			<br />
			{% endfor %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<!-- <a onclick="document.getElementById('survey').submit();" class="btn btn-default">Submit</a> -->
					<button type="submit">Submit!</button>
				</div>
			</div>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
