<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('static', filename='css/core.css') }}" rel='stylesheet'>
        {% block css %}{% endblock %}
		<title>{% block title %}{% endblock %} - Meaning</title>
	</head>
	<body>	
		<div class="container">
			<h3>Meaning — A Semantics Exercise</h3> 
			{% block content %}{% endblock %}
			<hr />
			&copy; Copyright 2014 by <a href="http://detroitmedia.com">Detroit Media Partnership</a> <br />
            Inspired by   
                <a href="http://newnorthcenter.org/">
                    <img style="border:1px solid #000;height:30px;" src="{{ url_for('static', filename='img/ncc.jpg') }}">
		        </a>
        </div>
		<br /><br />	
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='js/core.js') }}"></script>
		{% block js %}{% endblock %}
	</body>
</html>
