<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		{% block css %}{% endblock %}
		<title>{% block title %}{% endblock %} - Meaning</title>
	</head>
	<body>	
		<div class="container">
			<h3>Innovation and Product Development</h3> 
			{% block content %}{% endblock %}
			<hr />
			&copy; Copyright 2014 by <a href="http://detroitmedia.com">Detroit Media Partnership</a>
		</div>
		<br /><br />	
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		{% block js %}{% endblock %}
	</body>
</html>
